/* CSS styles for the map container */
#map-container {
    width: 800px;
    height: 450px;
    overflow: hidden;
    cursor: pointer;
}

/* CSS styles for the hover effect */
.country:hover {
    fill: orange;
}

.country {
    fill: #29c5f6;
    stroke: white;
    stroke-width: 0.3;
    cursor: pointer;
}